@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-condensed: var(--font-condensed), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0A0A0A;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1A1A1A;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
}
